<ion-view view-title="{{user.displayName}}">
  <ion-content>
    <div class="list card">
      <div class="item">
        <h3>{{user.displayName}}</h3>
        <h2>{{user.referenceCode}}</h2>
        <p>{{user.displayName}}</p>
      </div>
      <div class="item item-body">
        <p>{{user.displayName}}</p>
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item">
          <i class="icon ion-thumbsup"></i>
          Like
        </a>
        <a class="tab-item">
          <i class="icon ion-chatbox"></i>
          Comment
        </a>
        <a class="tab-item">
          <i class="icon ion-share"></i>
          Share
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
